** Tipos de datos em Python. 
No es necesario declarar el tipo de variable.
El sistema dinámico y el tipo variable se le asigna en el momento de la inicialización de la misma

In [ ]:
type("Pepe")

In [ ]:
str

type(123)

In [ ]:
int

In [2]:
type(123.456)

float

In [1]:
float

float

In [ ]:
type(True)

In [ ]:
bool

In [ ]:
**Juguemos un poco con los tipos de variables

In [34]:
**Ejercicio con error
edad = input('Introduce tu edad: ')
edad = edad + 1
print("El año que viene tendrás.. " + edad + " años")

Introduce tu edad:  14

TypeError: can only concatenate str (not "int") to str

In [ ]:
**El ejemplo anterior nos lanza un error porque hay que realizar una conversión de tipo (casting),
pues la edad se ha almacenado como str(String).

In [35]:
**Ejercicio con error
edad = input('Introduce tu edad: ')
edad = int(edad) + 1
print("El año que viene tendrás.. " + edad + " años")

Introduce tu edad:  14

TypeError: can only concatenate str (not "int") to str

**El segundo ejemplo nos da un error en la tercera linea

In [36]:
edad = input('Introduce tu edad: ')
edad = int(edad) + 1
print('El año que viene tendrás ' + str(edad) + ' años')

Introduce tu edad:  15

El año que viene tendrás 16 años

**Ahora si nos ha funcionado bien. Probemos con otros tipos de cambios

In [27]:
fiebre = bool(int(input("¿Tienes fiebre? 0-No / 1-Yes")))
print(fiebre)

¿Tienes fiebre? 0-No / 1-Yes 0

False

** Ahora trabajemos un poco con los llamados "Métodos"

In [42]:
prueba = "Juguemos un poco"
print(prueba.upper())

JUGUEMOS UN POCO

In [25]:
course = "Juguemos un poco"
print(prueba.lower())

juguemos un poco

In [31]:
print(prueba.find('un'))
#Posición de la letra 'un'

-1

In [32]:
print(prueba.replace("un poco", "una mijilla"))

Juguemos una mijilla

In [33]:
print("Python" in prueba)
#Para saber si una determinada palabra o carácter se encuentra dentro de una variable

False

In [ ]:
** Ahora juguemos con los números (Algo de mates)

In [ ]:
number1 = 5 ** 2 #Potencia, con un * se multiplica
print(number1)

In [ ]:
number2 = 25 // 2 #Divición entera, con un / se hace una división decimal
print(number2)

In [48]:
number2 += 2  # Incrementa number2 en 2
print(number2)  # Imprime el valor de number2

11

In [47]:
** Operadores lógicos

SyntaxError: invalid syntax (4047163474.py, line 1)

In [45]:
print(3 == 3)

True

In [44]:
print(4 != 4)

False

In [43]:
print(2 > 4)

False

In [43]:
max = 70
print(max >= 80)

False

In [43]:
print(max >= 70 and max <= 80)

False

In [50]:
if (max >= 70 and max <= 80):
    print("Adelante")
else:
    print("Quieto parao")

TypeError: '>=' not supported between instances of 'builtin_function_or_method' and 'int'

In [59]:
max = int(input("Introduce la temperatura máxima: "))
if (max >= 70 and max <= 80):
    print("Adelante")
else:
    print("Quieto parao")

Introduce la temperatura máxima:  71

Adelante

** Ahora os dejo a vosotros jugar on el "elif" para añadir otros rangos. El "else es opcional"

In [63]:
max_temp = int(input("Introduce la temperatura máxima: "))

if max_temp >= 70 and max_temp <= 80:
    print("Temperatura normal de Sevilla")
elif max_temp < 17:
    print("Va a hacer frío")
else:
    print("Va a hacer calor")

Introduce la temperatura máxima:  74

Temperatura normal de Sevilla

In [ ]:
** A continuación veremos los bucles

In [64]:
for i in range(5): # de cero a cuatro
    print(i)

0
1
2
3
4

In [90]:
for i in range (20, 8, -3): # Cuenta regresiva. range(start, stop, step) genera una secuencia de números comenzando desde start, 
                             #hasta (pero sin incluir) stop, incrementando en step.
    print(i)

20
17
14
11

In [87]:
palabra = "Curso de Python"
for i in palabra: #Mira que chulada
    print(i)

C
u
r
s
o

d
e

P
y
t
h
o
n

In [94]:
palabra = "Curso de Python"
palabra_mayusculas = palabra.upper()  # Convierte toda la cadena a mayúsculas

for i in palabra_mayusculas:
    print(i)

C
U
R
S
O

D
E

P
Y
T
H
O
N

In [ ]:
** Ahora otro tipo de bucle

In [105]:
i = 0
while i<20:
    i +=1
for i in range(0, 20, 5): #range(start, stop, step) genera una secuencia de números comenzando desde start, 
                             #hasta (pero sin incluir) stop, incrementando en step.
    print(i)

0
5
10
15

In [106]:
i = 5
while i<=20:
    print(i)
    i +=3

5
8
11
14
17
20

In [114]:
i = 0
while i<15:
    print(i * '$')
    i +=1

$
$$
$$$
$$$$
$$$$$
$$$$$$
$$$$$$$
$$$$$$$$
$$$$$$$$$
$$$$$$$$$$
$$$$$$$$$$$
$$$$$$$$$$$$
$$$$$$$$$$$$$
$$$$$$$$$$$$$$